@font-face {
    font-family: main;
    src: url(../fonts/Nulshock-Bd.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    ::-webkit-scrollbar {
        display: none;
    }
}

.Container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: rgb(17,17,17);
    display: flex;
    flex-direction:row;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Card{
    height: 320px;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px gold  ;
}

.head{
    margin-top: 10px;
    display: flex;
    height: 110px;
    align-items: center;
}

.logo{
    margin-left: 20px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.title{
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.des{   
    text-align: center;
}

.Card button{
    margin-top: 25px;
    text-align: center;
    padding: 10px 50px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: greenyellow;
}

.logo1{
    background-image: url(../images/canva.png);
}

.logo2{
    background-image: url(../images/runway.png);
}

.logo3{
    background-image: url(../images/sound.png);
}

.logo4{
    background-image: url(../images/journey.png);
}

.logo5{
    background-image: url(../images/notion.png);
}

.logo6{
    background-image: url(../images/copilot.png);
}